//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.10.02
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Created Time: Wed 10 16 19:02:25 2024

IO_LOC "ddr_bank[2]" F3;
IO_PORT "ddr_bank[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[1]" T4;
IO_PORT "ddr_bank[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_bank[0]" F4;
IO_PORT "ddr_bank[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[13]" AA1;
IO_PORT "ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[12]" T5;
IO_PORT "ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[11]" Y21;
IO_PORT "ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[10]" P5;
IO_PORT "ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[9]" H4;
IO_PORT "ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[8]" AB22;
IO_PORT "ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[7]" H5;
IO_PORT "ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[6]" Y22;
IO_PORT "ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[5]" F2;
IO_PORT "ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[4]" V3;
IO_PORT "ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[3]" E5;
IO_PORT "ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[2]" G6;
IO_PORT "ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[1]" V5;
IO_PORT "ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_addr[0]" F1;
IO_PORT "ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_odt" B3;
IO_PORT "ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cke" E4;
IO_PORT "ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_we" C2;
IO_PORT "ddr_we" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cas" D3;
IO_PORT "ddr_cas" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ras" D1;
IO_PORT "ddr_ras" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_cs" W20;
IO_PORT "ddr_cs" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_reset_n" V4;
IO_PORT "ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_ck" P22,R22;
IO_PORT "ddr_ck" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[1]" K4;
IO_PORT "ddr_dm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dm[0]" P3;
IO_PORT "ddr_dm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[15]" H2;
IO_PORT "ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[14]" M2;
IO_PORT "ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[13]" H3;
IO_PORT "ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[12]" K5;
IO_PORT "ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[11]" J1;
IO_PORT "ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[10]" P1;
IO_PORT "ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[9]" K3;
IO_PORT "ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[8]" R1;
IO_PORT "ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[7]" V1;
IO_PORT "ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[6]" N4;
IO_PORT "ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[5]" U1;
IO_PORT "ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[4]" Y1;
IO_PORT "ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[3]" T2;
IO_PORT "ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[2]" M4;
IO_PORT "ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[1]" T3;
IO_PORT "ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dq[0]" M5;
IO_PORT "ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[1]" L2,L1;
IO_PORT "ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "ddr_dqs[0]" P4,R4;
IO_PORT "ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_dout_p[3]" C18,C19;
IO_PORT "O_dout_p[3]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[2]" A17,B17;
IO_PORT "O_dout_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[1]" C14,C15;
IO_PORT "O_dout_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_dout_p[0]" A22,B22;
IO_PORT "O_dout_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_clkout_p" C9,C10;
IO_PORT "O_clkout_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "I_din_p[3]" A2,A3;
IO_PORT "I_din_p[3]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[2]" B6,A6;
IO_PORT "I_din_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[1]" A9,A10;
IO_PORT "I_din_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_din_p[0]" A11,A12;
IO_PORT "I_din_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "I_clkin_p" A15,B15;
IO_PORT "I_clkin_p" IO_TYPE=LVDS25 PULL_MODE=NONE BANK_VCCIO=2.5;
IO_LOC "scan4" C21;
IO_PORT "scan4" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan3" B21;
IO_PORT "scan3" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan2" D20;
IO_PORT "scan2" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "scan1" E20;
IO_PORT "scan1" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "GCLK" F20;
IO_PORT "GCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "SDI" F19;
IO_PORT "SDI" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "DCLK" C20;
IO_PORT "DCLK" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "LE" N19;
IO_PORT "LE" IO_TYPE=LVCMOS25 PULL_MODE=UP DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "O_led[3]" T17;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[2]" U17;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[1]" U19;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_led[0]" U18;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "I_rst_n" AB3;
IO_PORT "I_rst_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;
IO_LOC "I_clk" M19;
IO_PORT "I_clk" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "led_mode[0]" W20;
IO_PORT "led_mode[0]" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
IO_LOC "led_mode[1]" V20;
IO_PORT "led_mode[1]" IO_TYPE=LVCMOS25 PULL_MODE=UP BANK_VCCIO=2.5;
